{% if sidebar.button %}
    <div class="panel-secondary-heading">Наша кнопка</div>
    <div class="panel panel-secondary">
    	<div class="panel-body">
    	    <div class="flex-wrapper sidebar-buttons">
        		<a href="http://dacomics.ru" title="Комиксы и стрипы по играм. Dragon Age, World of Warcraft, Deus Ex, Diablo, Rage и не только!"><img src="http://dacomics.ru/images/button.gif" width="88" height="31" alt="" /></a>
        		<a href="javascript:void(0);" onclick="buttonCode();">Код кнопки</a>
        	</div>
    	</div>
    </div>
{% endif %}