<div class="social-links mt-2 mb-2">
	{#<a href="//feeds.feedburner.com/warcryru" title="Наши новости в формате RSS"><img src="/images/sharelarge/rss.png" alt="" /></a>#}
	<a href="//twitter.com/dacomics" title="Мы в Twitter"><i class="fab fa-twitter fa-2x mr-2"></i></a>
	<a href="//vk.com/dacomics" title="Наша группа ВКонтакте"><i class="fab fa-vk fa-2x mr-2"></i></a>
	<a href="https://www.facebook.com/pages/DA-Comics/165520146864654" title="Наша страница в Facebook"><i class="fab fa-facebook-square fa-2x mr-2"></i></a>
	{#<a href="https://plus.google.com/u/0/b/112408773392891976232/112408773392891976232/posts" title="Наша страница в Google+"><i class="fab fa-google-plus fa-2x mr-2"></i></a>#}
</div>

<div>Все права на перевод и его оформление защищены. <span class="nowrap">&copy; {{ years_str }} <a href="mailto:{{ contact_email }}">{{ site_name }}</a></span></div>
<div>При копировании материалов ссылка обязательна.</div>
<div>Сайт построен на <a href="https://github.com/kapxapot/plasticode">Plasticode</a></div>
<div class="disclaimer mt-1">Права на оригиналы комиксов принадлежат IDW, DC Comics, Dark Horse, EA Comics, BioWare, Blizzard Entertainment, Square Enix, Bethesda, Sony, Bandai Namco и др.</div>
